.moderno{
    font-family: 'MuseoModerno', cursive;
}
.lightgreen{
    color: lightgreen;
}
.fa-regular{
    margin-right: 0.1em;
}
.title{
    text-decoration: underline;
}
#noStyle{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.849);
    text-decoration: none;
}